.note{
    display: flex;
    background-color: white;
    padding:1em;
    margin: 1em;
    width: 96%;
    justify-content: space-between;
    border-radius:10px ;
}

.note-content{
    display: flex;
    font-weight: bold;
    text-align: center;
    color: #5cc8f3;
}



