.Notes-bar{
    padding-top:3em;
    display: flex;
    flex-direction: column;
    flex:2;
    background: -webkit-linear-gradient(#FFF, #5cc8f3);
    border-color:#5cc8f3 ;
    /* height: 100%;
    width: 100%; */
    margin: 1rem;
    justify-content: center;
    align-items: center;
    
}
.notes-title{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 2rem;
    color: #5cc8f3 ;
    font-size: 1.5em;
    font-weight: bold;
}

.notes-list{
    display: flex;
    flex-direction: column;
    padding:2rem;
    overflow-y: scroll;
    border-color: white;
    border-style: solid;
    margin: 1em;
    width:80%;
    height: 40%;
}

#style-1::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(64, 94, 163, 0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(64, 94, 163, 0.3);
	background-color: rgb(133, 206, 235);
}


